# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# IDEs
.vscode/

#M-LOOP archives
M-LOOP_archives/
M-LOOP_logs/

#Data
Data
#Stuff I used for plotting
combined_plots.py
test_hysteresis_fc.py